TELEGRAM_BOT_TOKEN=8600739487:AAGhByAoKEpbsfco9swoaRYjU2HI_gSt718
TELEGRAM_CHAT_ID=5088771245
STRIPE_SECRET_KEY=sk_live_51Tg1U0RJECiV6vSm...
SUPABASE_URL=https://qyrjeckzacjaazkpvnjk.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIs...
